---
import Layout from '../layouts/Layout.astro';
import data from "../../public/data.json";
import HeaderAbout from "../components/about/header"

import FeatureSectionThree from "../components/about/burs"
import TestimonialAbout from "../components/about/testimonials"
import FooterAbout from "../components/presentation/footerFree"
import AiAssistant from "../components/ai/AiAssistantPanel";
---


<Layout title="About Us Page">
	<main>
    <HeaderAbout client:only="react" />
    <FeatureSectionThree client:only="react" />
   
      <AiAssistant client:only="react" />
    <TestimonialAbout client:only="react" />
    
    <FooterAbout client:only="react" />
  </main>
</Layout>