---
import Layout from '../layouts/Layout.astro';

import ForgotPaswd from "../components/forgotPassword";

---

<Layout title="Forgot Password | ResilienceQ">
	<main>
    <ForgotPaswd client:only="react" />
        
  </main>
</Layout>