---
import Layout from '../layouts/Layout.astro';
import Reset from "../components/resetPassword"

---

<Layout title="Reset Password | ResilienceQ">
	<main>
    <Reset client:only="react" />
  </main>
</Layout>